.caixa{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}


.destaques{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
}

.destaques__logo{
    background: url('../../static/logo.png')  center / cover no-repeat;
    grid-column: 1 / 5;
    grid-row: 1 / 1;
}

.destaques__principal{
    background: url('../../static/principal.jpg') center / cover no-repeat;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.destaques__secundario:nth-child(3){
    background:  url('../../static/secundario.jpg') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}

.destaques__secundario:nth-child(4){
    background:  url('../../static/secundario-3.jpg') center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.destaques__titulo{
    background: rgba(0, 0, 0, .5);
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}


