:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
  grid-template-areas: 
    "header"
    "conteudo"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho{
  background: #414142;
  grid-area: cabecalho;
  padding: 0 2rem;
}

.conteudo{
  background: #ece9f1;
  grid-area: conteudo;
  padding: 0 2rem;
}

.footer{
  background: #414142;
  grid-area: footer;
  padding: 2rem 2rem;
  color: #f5ecec;
  font-size: .8rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
