:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
  grid-template-areas: 
    "header"
    "conteudo"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho{
  background: #373f51;
  grid-area: cabecalho;
}

.conteudo{
  background: #C0C0C0;
  grid-area: conteudo;
}

.footer{
  background: #0099ff;
  grid-area: footer;
}
